<div class="">
  <!-- <div class="search-div">
    <span>产品编号</span>
    <input type="text" [(ngModel)]='proName'>
    <span>团队编号</span>
    <input type="text" [(ngModel)]='proCode'>
    <span>交易账户</span>
    <input type="text" [(ngModel)]='proCode'>
    <br><br>
    <span>委托编号</span>
    <input type="text" [(ngModel)]='proCode'>
    <span>交易日期</span>
    <input type="date" [(ngModel)]='proCode'>
    <span>~</span>
    <input type="date" [(ngModel)]='proCode'>
    <button class="button" (click)='search()'>查询</button>
  </div> -->
  <div class="search-div">
    <span> 投顾账户</span>
    <input type="text" [(ngModel)]='userCode'>
    <button class="button" (click)='search()'>查询</button>
    <button (click)='searchAll()'>查询全部</button>
  </div>
  <div class="action-button">
    <button (click)='export()'>导出列表</button>
  </div>

  <div class="table-div my-scroll">
    <table class="my-table">
      <tr>
        <th>
          序号
        </th>
        <th>
          委托时间
        </th>
        <th>
          产品编号
        </th>
        <th>
          投顾账号
        </th>
        <th>
          投顾姓名
        </th>
        <th>
          委托编号
        </th>
        <th>
          股票代码
        </th>
        <th>
          股票名称
        </th>
        <th>
          委托数量
        </th>
        <th>
          委托价格
        </th>
        <th>
          成交数量
        </th>
        <th>
          成交均价
        </th>
        <th>
          委托状态
        </th>
        <th>
          买卖方向
        </th>
        <th>
          团队编号
        </th>
        <th>
          备注信息
        </th>
        <th>
          委托PK
        </th>
      </tr>
      <tr *ngFor='let a of list;let i = index;' class="{{a.appointTypeDesc === '买入'?'red':'green'}}">
        <td>
          {{i + 1}}
        </td>
        <td>
          {{a.appointTime}}
        </td>
        <td>
          {{a.productCode}}
        </td>
        <td>
          {{a.accountCode}}
        </td>
        <td>
          {{a.accountName}}
        </td>
        <td class="wtbh">
          {{a.appointOrderCode}}
        </td>
        <td>
          {{a.stockCode}}
        </td>
        <td>
          {{a.stockName}}
        </td>
        <td>
          {{a.appointCnt}}
        </td>
        <td>
          {{a.appointPrice}}
        </td>
        <td>
          {{a.dealCnt}}
        </td>
        <td>
          {{a.dealAvrPrice}}
        </td>
        <td>
          {{a.appointStatusDesc}}
        </td>
        <td>
          {{a.appointTypeDesc}}
        </td>
        <td>
          {{a.teamCode}}
        </td>
        <td>
          {{a.memo}}
        </td>
        <td>
          {{a.pkOrder}}
        </td>
      </tr>
    </table>
  </div>

</div>