<div class="">
  <div class="search-div history-search">
    <span *ngIf='url === "tdgl"'>投顾账户</span>
    <input *ngIf='url === "tdgl"' type="text" [(ngModel)]='historyKeyWord.accountCode'>
    <span>交易日期</span>
    <input type="month" [(ngModel)]='historyKeyWord.selectMonth'>
    <button class="button" (click)='getList()'>查询</button>
    <button (click)='export()'>导出列表</button>
  </div>
  <div class="table-div my-scroll" *ngIf='url === "tdgl"'>
    <table class="my-table">
      <tr>
        <th>
          投顾账号
        </th>
        <th>
          投顾姓名
        </th>
        <th>
          日期
        </th>
        <th>
          时间
        </th>
        <th>
          股票代码
        </th>
        <th>
          股票名称
        </th>
        <th>
          操作
        </th>
        <th>
          成交数量
        </th>
        <th>
          成交均价
        </th>
        <th>
          发生金额
        </th>
      </tr>
      <tr *ngFor='let a of list'>
        <td>
          {{a.accountCode}}
        </td>
        <td>
          {{a.accountName}}
        </td>
        <td>
          {{a.orderDate | date}}
        </td>
        <td>
          {{a.appointTime}}
        </td>
        <td>
          {{a.stockCode}}
        </td>
        <td>
          {{a.stockName}}
        </td>
        <td>
          {{a.operateDesc}}
        </td>
        <td>
          {{a.dealCnt}}
        </td>
        <td>
          {{a.dealAvrPrice}}
        </td>
        <td>
          {{a.dealAmount}}
        </td>
      </tr>
    </table>
  </div>
  <div class="table-div my-scroll" *ngIf='url === "cpgl"'>
    <table class="my-table">
      <tr>
        <th>
          产品编号
        </th>
        <th>
          股票代码
        </th>
        <th>
          股票名称
        </th>
        <th>
          盈亏日期
        </th>
        <th>
          盈亏值
        </th>
        <th>
          手续费
        </th>
        <th>
          利用率
        </th>
      </tr>
      <tr *ngFor='let a of list'>
        <td>
          {{a.productCode}}
        </td>
        <td>
          {{a.stockCode}}
        </td>
        <td>
          {{a.stockName}}
        </td>
        <td>
          {{a.profitDate | date}}
        </td>
        <td>
          {{a.profitLoss | round}}
        </td>
        <td>
          {{a.commissPrice | round}}
        </td>
        <td>
          {{a.coefficient}}
        </td>
      </tr>
    </table>
  </div>
</div>
