<div class="">
  <!-- <div class="search-div">
      <span> 投顾账户</span>
      <input type="text" [(ngModel)]='userCode'>
      <button class="button" (click)='search()'>查询</button>
      <button (click)='searchAll()'>查询全部</button>
      <button (click)='history()'>历史委托列表</button>
    </div> -->
  <div class="search-div">
    <span> 投顾账户</span>
    <input type="text" [(ngModel)]='userCode'>
    <button class="button" (click)='search()'>查询</button>
    <button (click)='searchAll()'>查询全部</button>
  </div>
  <div class="action-button">
    <button class="button" (click)='fpjyy()' [disabled]='disabled(checkList.length)'>提盈</button>
  </div>
  <div class="table-div my-scroll">
    <table class="my-table">
      <tr>
        <th>
          <input type="checkbox" name="" id="" (click)='clickAll()' [(ngModel)]='checkedAll'>
        </th>
        <th>
          产品编号
        </th>
        <th>
          产品名称
        </th>
        <th>
          期初规模
        </th>
        <th>
          总资金
        </th>
        <th>
          可用资金
        </th>
        <th>
          可归还资金
        </th>
        <th>
          本次归还资金
        </th>
        <th>
          投顾账号
        </th>
        <th>
          投顾姓名
        </th>
      </tr>
      <tr *ngFor='let a of list;let i = index;trackBy:trackBy'>
        <td (click)='checkbox(i)'>
          <input type="checkbox" name="" id="" [(checked)]='a.isChecked'>
        </td>
        <td (click)='checkbox(i)'>
          {{a.productCode}}
        </td>
        <td (click)='checkbox(i)'>
          {{a.productName}}
        </td>
        <td (click)='checkbox(i)'>
          {{a.allottedScale}}
        </td>
        <td (click)='checkbox(i)'>
          {{a.totalScale}}
        </td>
        <td>
          {{a.ableScale}}
        </td>
        <td (click)='checkbox(i)'>
          {{a.backableScale}}
        </td>
        <td>
          <input type="number" class="table-input" [(ngModel)]='a.bcgh'>
        </td>
        <td (click)='checkbox(i)'>
          {{a.accountCode}}
        </td>
        <td (click)='checkbox(i)'>
          {{a.accountName}}
        </td>
      </tr>
    </table>
  </div>
  <!-- <div class="fpjyy-alert" *ngIf='alert'>
      <div class="alert-title">
        <span class="submit-btn" (click)='submitJYY()'>确认</span>
        选择要分配的交易员
        <img class="close-btn" src="./assets/images/close.png" alt="" (click)='close()'>
      </div>
      <div class="alert-div my-scroll">
        <div *ngFor='let a of jyyList' class="{{jyyCode === a.accountCode?'active':''}}" (click)='selectJYY(a)'>{{a.accountName}}</div>
      </div>
    </div> -->
  <div class="fpjyy-alert" *ngIf='confirm'>
    <app-confirm [text]='confirmText' (active)='submit($event)'></app-confirm>
  </div>

</div>
