<div class="">
  <div class="search-div">
    <span> 投顾账户</span>
    <input type="text" [(ngModel)]='userCode'>
    <button class="button" (click)='search()'>查询</button>
    <button (click)='searchAll()'>查询全部</button>
  </div>
  <div class="action-button">
    <button (click)='export()'>导出列表</button>
  </div>
  <div class="table-div my-scroll">
    <table class="my-table">
      <tr>
        <th>
          成交时间
        </th>
        <th>
          成交编号
        </th>
        <th>
          委托编号
        </th>
        <th>
          股票代码
        </th>
        <th>
          股票名称
        </th>
        <th>
          买卖方向
        </th>
        <th>
          成交数量
        </th>
        <th>
          成交价
        </th>
        <th>
          团队编号
        </th>
        <th>
          产品编号
        </th>
        <th>
          投顾账号
        </th>
        <th>
          投顾姓名
        </th>
      </tr>
      <tr *ngFor='let a of list;trackBy: stockId' class="{{a.appointTypeDesc === '买入'?'red':'green'}}">
        <td>
          {{a.dealTime}}
        </td>
        <td>
          {{a.tradeId}}
        </td>
        <td class="wtbh">
          {{a.appointOrderCode}}
        </td>
        <td>
          {{a.stockCode}}
        </td>
        <td>
          {{a.stockName}}
        </td>
        <td>
          {{a.appointTypeDesc}}
        </td>
        <td>
          {{a.dealCnt}}
        </td>
        <td>
          {{a.dealAvrPrice}}
        </td>
        <td>
          {{a.productCode}}
        </td>
        <td>
          {{a.productCode}}
        </td>
        <td>
          {{a.accountCode}}
        </td>
        <td>
          {{a.accountName}}
        </td>
      </tr>
    </table>
  </div>

</div>