<div>
  <div class="action-button margin-top">
    <!-- <button [disabled]='disabled(checkList.length)' (click)='fptd()'>分配给团队</button> -->
    <button (click)='history()'>历史数据列表</button>
    <button (click)='refresh()'>列表刷新</button>
  </div>
  <div class="table-div my-scroll">
    <table class="my-table">
      <tr>
        <!-- <th>
          <input type="checkbox" name="" id="" (click)='clickAll()' [(ngModel)]='checkedAll'>
        </th> -->
        <th>
          股票代码
        </th>
        <th>
          股票名称
        </th>
        <th>
          股票数量
        </th>
        <th>
          所属产品
        </th>
        <th>
          可分配数量
        </th>
      </tr>
      <tr *ngFor='let a of list;'>
        <!-- <td>
          <input type="checkbox" name="" id="" [(checked)]='a.isChecked'>
        </td> -->
        <td>
          {{a.stockNo}}
        </td>
        <td>
          {{a.stockName}}
        </td>
        <td>
          {{a.stockCnt}}
        </td>
        <td>
          {{a.productCode}}
        </td>
        <td>
          {{a.ableCnt}}
        </td>
      </tr>
    </table>
  </div>
</div>