<div>
  <div class="action-button margin-top">
    <!-- <button [disabled]='disabled(checkList.length)' (click)='fptd()'>分配给团队</button> -->
    <button (click)='history()'>历史数据列表</button>
    <button (click)='refresh()'>列表刷新</button>
  </div>
  <div class="table-div my-scroll">
    <table class="my-table">
      <tr>
        <!-- <th>
          <input type="checkbox" name="" id="" (click)='clickAll()' [(ngModel)]='checkedAll'>
        </th> -->
        <th>
          股票代码
        </th>
        <th>
          股票名称
        </th>
        <th>
          股票数量
        </th>
        <th>
          所属产品
        </th>
        <th>
          分配数量
        </th>
      </tr>
      <tr *ngFor='let a of list;let i = index;trackBy:trackBy'>
        <!-- <td (click)='checkbox(i)'>
          <input type="checkbox" name="" id="" [(checked)]='a.isChecked'>
        </td> -->
        <td (click)='checkbox(i)'>
          {{a.stockNo}}
        </td>
        <td (click)='checkbox(i)'>
          {{a.stockName}}
        </td>
        <td (click)='checkbox(i)'>
          {{a.stockCnt}}
        </td>
        <td (click)='checkbox(i)'>
          {{a.productCode}}
        </td>
        <td>
          {{a.ableCnt}}
        </td>
      </tr>
    </table>
  </div>
  <div class="fpjyy-alert" *ngIf='alert'>
    <!-- <div class="alert-title">
      选择要分配的团队
      <img class="close-btn" src="./assets/images/close.png" alt="" (click)='close()'>
    </div> -->
    <div class="alert-div my-scroll">
      <div *ngFor='let a of jyyList' class="{{jyyCode === a.teamCode?'select-acitve':''}}" (click)='selectJYY(a)'>{{a.teamName}}</div>
    </div>
    <div class="alert-button-div">
      <button (click)='submitJYY()'>确认</button>
    </div>
  </div>
</div>