<div>
    <div style="font-size: 20px;margin: 20px 0;">
        持仓列表
    </div>
    <div>
        <p>投顾账号：
            <span class="red">{{accountCode}}</span> 投顾姓名：
            <span class="red">{{accountName}}</span> 冻结资金：
            <span class="red">{{lockScale}}</span>
        </p>
        <div class="action-button">
            <button (click)='closeALL()' [disabled]='list.length === 0'>一键平仓</button>
        </div>
    </div>
    <div class="table-div my-scroll">
        <table class="my-table">
            <tr>
                <th (click)='sortList("stockCode")'>
                    股票代码
                </th>
                <th (click)='sortList("stockName")'>
                    股票名称
                </th>
                <th (click)='sortList("stockCnt")'>
                    持仓数量
                </th>
                <th (click)='sortList("stockCntAble")'>
                    可用数量
                </th>
                <th (click)='sortList("profit")'>
                    参考盈亏
                </th>
                <th (click)='sortList("costPrice")'>
                    参考成本
                </th>
                <th (click)='sortList("lastPrice")'>
                    现价
                </th>
                <th>
                    操作
                </th>
            </tr>
            <tr *ngFor='let a of list;let i = index;'>
                <td>
                    {{a.stockCode}}
                </td>
                <td>
                    {{a.stockName}}
                </td>
                <td>
                    {{a.stockCnt}}
                </td>
                <td>
                    {{a.stockCntAble}}
                </td>
                <td [class]='proFit(a.profit)'>
                    {{a.profit}}
                </td>
                <td>
                    {{a.costPrice}}
                </td>
                <td>
                    {{a.lastPrice}}
                </td>
                <td>
                    <span (click)='sell(a)'>平仓</span>
                </td>
            </tr>
        </table>
    </div>
    <div class="fpjyy-alert" *ngIf='confirm'>
        <app-confirm [text]='confirmText' (active)='submitDelete($event)'></app-confirm>
    </div>
    <div class="fpjyy-alert" *ngIf='resetAlert'>
        <div class="alert-title">
            平仓
            <img class="close-btn" src="./assets/images/close.png" alt="" (click)='close()'>
        </div>
        <div class="alert-content">
            <div class="left-div">
                <div>
                    <input class="input" type="text" readonly [(ngModel)]='stockHQ.stockCode'>
                    <span class="gpmc">{{stockName}}</span>
                </div>
                <div class="add-down">
                    <div class="down" (click)='count(-1)'>-</div>
                    <input class="input" type="number" placeholder="卖出价" [(ngModel)]='appointPrice'
                        style="text-align: center">
                    <div class="add" (click)='count(1)'>+</div>
                </div>
                <div class="green-red">
                    <span class="green-left" (click)='selectPrice(stockHQ.lowPrice)'>跌停
                        {{stockHQ.lowPrice | toFixed}}</span>
                    <span class="red-right" (click)='selectPrice(stockHQ.highPrice)'>涨停
                        {{stockHQ.highPrice | toFixed}}</span>
                </div>
                <div>
                    <input class="input" type="number" placeholder="卖出量" [(ngModel)]='appointCnt' (keyup)='inputCnt()'>
                    <span class="gpmc">可卖{{fullcount}}股</span>
                </div>
                <div class="four-btn">
                    <div class="{{ccount === 'full'?'four-btn-active':''}}" (click)='selectCount("full")'>全仓</div>
                    <div class="{{ccount === 'half'?'four-btn-active':''}}" (click)='selectCount("half")'>半仓</div>
                    <div class="{{ccount === '1/3full'?'four-btn-active':''}}" (click)='selectCount("1/3full")'>1/3仓
                    </div>
                    <div class="{{ccount === '1/4full'?'four-btn-active':''}}" (click)='selectCount("1/4full")'>1/4仓
                    </div>
                </div>
                <div class="buy">
                    <div (click)='buy()'>平仓</div>
                </div>
            </div>
            <div class="right-div">
                <p (click)='selectPrice(stockHQ.sellLevel.sellPrice05)'>
                    <span>卖5</span>
                    <span
                        class="{{HQColor(stockHQ.sellLevel.sellPrice05)}}">{{stockHQ.sellLevel.sellPrice05 | toFixed}}</span>
                    <span>{{stockHQ.sellLevel.sellVolume05 | numInt}}</span>
                </p>
                <p (click)='selectPrice(stockHQ.sellLevel.sellPrice04)'>
                    <span>卖4</span>
                    <span
                        class="{{HQColor(stockHQ.sellLevel.sellPrice04)}}">{{stockHQ.sellLevel.sellPrice04 | toFixed}}</span>
                    <span>{{stockHQ.sellLevel.sellVolume04 | numInt}}</span>
                </p>
                <p (click)='selectPrice(stockHQ.sellLevel.sellPrice03)'>
                    <span>卖3</span>
                    <span
                        class="{{HQColor(stockHQ.sellLevel.sellPrice03)}}">{{stockHQ.sellLevel.sellPrice03 | toFixed}}</span>
                    <span>{{stockHQ.sellLevel.sellVolume03 | numInt}}</span>
                </p>
                <p (click)='selectPrice(stockHQ.sellLevel.sellPrice02)'>
                    <span>卖2</span>
                    <span
                        class="{{HQColor(stockHQ.sellLevel.sellPrice02)}}">{{stockHQ.sellLevel.sellPrice02 | toFixed}}</span>
                    <span>{{stockHQ.sellLevel.sellVolume02 | numInt}}</span>
                </p>
                <p (click)='selectPrice(stockHQ.sellLevel.sellPrice01)'>
                    <span>卖1</span>
                    <span
                        class="{{HQColor(stockHQ.sellLevel.sellPrice01)}}">{{stockHQ.sellLevel.sellPrice01 | toFixed}}</span>
                    <span>{{stockHQ.sellLevel.sellVolume01 | numInt}}</span>
                </p>
                <p class="line"></p>
                <p (click)='selectPrice(stockHQ.buyLevel.buyPrice01)'>
                    <span>买1</span>
                    <span
                        class="{{HQColor(stockHQ.buyLevel.buyPrice01)}}">{{stockHQ.buyLevel.buyPrice01 | toFixed}}</span>
                    <span>{{stockHQ.buyLevel.buyVolume01 | numInt}}</span>
                </p>
                <p (click)='selectPrice(stockHQ.buyLevel.buyPrice02)'>
                    <span>买2</span>
                    <span
                        class="{{HQColor(stockHQ.buyLevel.buyPrice02)}}">{{stockHQ.buyLevel.buyPrice02 | toFixed}}</span>
                    <span>{{stockHQ.buyLevel.buyVolume02 | numInt}}</span>
                </p>
                <p (click)='selectPrice(stockHQ.buyLevel.buyPrice03)'>
                    <span>买3</span>
                    <span
                        class="{{HQColor(stockHQ.buyLevel.buyPrice03)}}">{{stockHQ.buyLevel.buyPrice03 | toFixed}}</span>
                    <span>{{stockHQ.buyLevel.buyVolume03 | numInt}}</span>
                </p>
                <p (click)='selectPrice(stockHQ.buyLevel.buyPrice04)'>
                    <span>买4</span>
                    <span
                        class="{{HQColor(stockHQ.buyLevel.buyPrice04)}}">{{stockHQ.buyLevel.buyPrice04 | toFixed}}</span>
                    <span>{{stockHQ.buyLevel.buyVolume04 | numInt}}</span>
                </p>
                <p (click)='selectPrice(stockHQ.buyLevel.buyPrice05)'>
                    <span>买5</span>
                    <span
                        class="{{HQColor(stockHQ.buyLevel.buyPrice05)}}">{{stockHQ.buyLevel.buyPrice05 | toFixed}}</span>
                    <span>{{stockHQ.buyLevel.buyVolume05 | numInt}}</span>
                </p>
            </div>
        </div>
    </div>
</div>