.alert-div {
    width: 500px;
    height: 310;
    background: #fff;
    margin-left: 50%;
    left: -250px;
    position: relative;
    flex-wrap: wrap;
    overflow-y: auto;
    padding: 5px 10px;
}

.alert-title {
    width: 500px;
    height: 50px;
    line-height: 50px;
    position: relative;
    margin-left: 50%;
    left: -250px;
    text-align: center;
    margin-top: 150px;
    background: #ad3333;
    color: #fff;
}

.close-btn {
    float: right;
    width: 25px;
    position: absolute;
    margin-left: 190px;
    margin-top: 13px;
    cursor: pointer;
}

.alert-content {
    display: flex;
    width: 500px;
    position: relative;
    margin-left: 50%;
    left: -250px;
    background: #fff;
    text-align: center;
}

.alert-content .left-div {
    flex: 6;
    padding: 5px;
}

.alert-content .left-div div {
    margin: 11px 0;
}

.input {
    border: solid 1px #b00e23;
    font-size: 1.1rem;
    padding: 0 4px;
    width: 100%;
    height: 34px;
    line-height: 34px;
    border-radius: none;
}

.add-down {
    display: flex;
    user-select: none;
}

.add-down div {
    border: none;
    color: #fff;
    background: #b00e23;
    width: 46px;
    outline: none;
    font-size: 2rem;
    height: 34px;
    line-height: 29px;
    margin: 0 !important;
    cursor: pointer;
}

.add-down div:active{
    background: #910013
}

.green-left {
    float: left;
    color: green;
}

.red-right {
    float: right;
    color: red;
}

.four-btn div {
    float: left;
    font-size: 0.8rem;
    padding: 5px 5px;
    margin: 0 5px !important;
    border-radius: 0;
    border: solid 1px #ccc;
    cursor: pointer;
}

.buy {
    display: flex;
    width: 100%;
}

.buy div {
    flex: 1;
    background: #b00e23;
    color: #fff;
    height: 38px;
    line-height: 38px;
    border: solid 1px #b00e23;
    cursor: pointer;
}

.clear {
    background: #f8f8f8 !important;
    border: solid 1px #ddd !important;
    color: #000 !important;
}

.right-div {
    flex: 5;
    border-left: solid 1px #ccc;
}

.right-div p {
    margin: 2px;
    font-size: .9rem;
    display: flex;
    height: 24px;
    line-height: 24px;
}

.right-div p span {
    flex: 1;
}

.line {
    border-bottom: dashed 1px #ccc;
    height: 1px !important;
}

.gpmc {
    float: right;
    position: relative;
    margin-top: -28px;
    font-size: .9rem;
    margin-right: 5px;
}

.green-red {
    margin-top: -10px !important;
    margin-bottom: 5px;
    height: 17px;
}

.four-btn-active {
    background: #d4d4d4
}

.SELL .input {
    border: solid 1px #145c90;
}

.SELL .buy div {
    background: #145c90;
    border: solid 1px #145c90;
}

.SELL .add-down div {
    background: #145c90;
}

span{
    cursor: pointer;
}