<div>
  <div class="action-button margin-top">
    <!-- <button [disabled]='disabled(checkList.length)' >分配给团队</button> -->
    <button (click)='refresh()'>列表刷新</button>
  </div>
  <div class="table-div my-scroll">
    <table class="my-table">
      <tr>
        <th>
          产品名称
        </th>
        <th>
          产品编码
        </th>
        <th>
          券商总资金
        </th>
        <th>
          券商可用资金
        </th>
        <th>
          产品可分配资金
        </th>
        <th>
          本次可分配资金
        </th>
        <th>
          操作
        </th>
      </tr>
      <tr>
        <td>
          {{list.productName}}
        </td>
        <td>
          {{list.productCode}}
        </td>
        <td>
          {{list.totalBnc}}
        </td>
        <td>
          {{list.availableBnc}}
        </td>
        <td>
          {{list.ableScale}}
        </td>
        <td>
          <input type="number" class="table-input" [(ngModel)]='list.ableCnt'>
        </td>
        <td>
          <span (click)='fptd()'>分配给团队</span>
        </td>
      </tr>
    </table>
  </div>
  <div class="fpjyy-alert" *ngIf='alert'>
    <div class="alert-title">
      选择要分配的团队
      <img class="close-btn" src="./assets/images/close.png" alt="" (click)='close()'>
    </div>
    <div class="alert-div my-scroll">
      <div *ngFor='let a of jyyList' class="{{jyyCode === a.teamCode?'select-acitve':''}}" (click)='selectJYY(a)'>{{a.teamName}}</div>
    </div>
    <div class="alert-button-div">
      <button (click)='submitJYY()' [disabled]='jyyCode===""'>确认</button>
    </div>
  </div>
</div>