<div class="">
  <div class="action-button margin-top">
    <button (click)='export()'>导出报表</button>
  </div>
  <div class="table-div my-scroll">
    <table class="my-table">
      <tr>
        <th>
          序号
        </th>
        <th>
          成交时间
        </th>
        <th>
          成交编号
        </th>
        <th>
          委托编号
        </th>
        <th>
          股票代码
        </th>
        <th>
          股票名称
        </th>
        <th>
          买卖方向
        </th>
        <th>
          成交数量
        </th>
        <th>
          成交均价
        </th>
        <th>
          团队编号
        </th>
        <th>
          产品编号
        </th>
        <th>
          投顾账号
        </th>
        <th>
          投顾姓名
        </th>
      </tr>
      <tr *ngFor='let a of list;let i = index' class="{{a.appointTypeDesc === '买入'?'red':'green'}}">
        <td>
          {{i + 1}}
        </td>
        <td>
          {{a.dealTime}}
        </td>
        <td>
          {{a.tradeId}}
        </td>
        <td class="wtbh">
          {{a.appointOrderCode}}
        </td>
        <td>
          {{a.stockCode}}
        </td>
        <td>
          {{a.stockName}}
        </td>
        <td>
          {{a.appointTypeDesc}}
        </td>
        <td>
          {{a.dealCnt}}
        </td>
        <td>
          {{a.dealAvrPrice}}
        </td>
        <td>
          {{a.teamCode}}
        </td>
        <td>
          {{a.productCode}}
        </td>
        <td>
          {{a.accountCode}}
        </td>
        <td>
          {{a.accountName}}
        </td>
      </tr>
    </table>
  </div>

</div>
