<div class="">
  <div class="search-div">
    <span> 投顾账号</span>
    <input type="text" [(ngModel)]='userCode'>
    <button class="" (click)='search()'>查询</button>
    <button (click)='searchAll()'>查询全部</button>
  </div>
  <div class="action-button">
    <button (click)='add()' [disabled]='disabled("1")'>新增</button>
    <button [disabled]='disabled(temp)' (click)='update()'>修改</button>
    <button [disabled]='disabled(temp)' (click)='del()'>结案</button>
    <button [disabled]='disabled(temp)' (click)='reset()'>重置密码</button>
    <button [disabled]='disabled(temp)' (click)='cclb()'>查看持仓</button>
    <button (click)='history()'>历史数据列表</button>
  </div>
  <div class="table-div my-scroll">
    <table class="my-table">
      <tr>
        <th>
          选择
        </th>
        <th>
          投顾账号
        </th>
        <th>
          投顾姓名
        </th>
        <th>
          投顾状态
        </th>
       
        <th>
          期初规模(元)
        </th>
        <th>
          保证金(元)
        </th>
        <th (click)='sortList("remainCashScale","num")'>
          剩余保证金
          <img src="./assets/images/sort.png" alt="" class='sortIcon'>
        </th>
        <th>
          平仓线比例
        </th>
        <th>
          警戒线比例
        </th>
        <th (click)='sortList("residCashRate","num")'>
          剩余保证金比例
          <img src="./assets/images/sort.png" alt="" class='sortIcon'>
        </th>
        <th>
          总资金
        </th>
        <th>
          可用资金
        </th>
        <!-- <th>
          冻结资金
        </th> -->
        <th>
          市值
        </th>
        <th (click)='sortList("profit","num")'>
          总盈亏
          <img src="./assets/images/sort.png" alt="" class='sortIcon'>
        </th>
        <th>
          主板单票比例
        </th>
        <th>
          创业板合计比例
        </th>
        <th>
          交易佣金
        </th>
        <th>
          所属产品
        </th>
       
        <th>
          在线状态
        </th>
      </tr>
      <tr *ngFor='let a of list;let i = index' (click)='select(a,i)' [class]='tdColor(a)'>
        <td>
          <input type="radio" [checked]='checkId === i' name="name" id="" (click)='select(a,i)'>
        </td>
        <td>
          {{a.accountCode}}
        </td>
        <td>
          {{a.accountName}}
        </td>
        <td>
          {{a. accountStatusDesc}}
        </td>
        <!-- <td>
          {{a.bpLine}}
        </td> -->
        
        <td>
          {{a.allottedScale}}
        </td>
        <td>
          {{a.cashScale}}
        </td>
        <td>
          {{a.remainCashScale}}
        </td>
        <td>
          {{a.flatLine}}
        </td>
        <td>
          {{a.cordonLine}}
        </td>
        <td>
          {{a.residCashRate}}
        </td>
        <td>
          {{a.totalScale}}
        </td>
        <td>
          {{a.ableScale}}
        </td>
        <!-- <td>
          {{a.lockScale}}
        </td> -->
        <td>
          {{a.marketValue}}
        </td>
        <td [class]='proFit(a.profit)'>
          {{a.profit}}
        </td>
        <td>
          {{a.mainSingleVote}}
        </td>
        <td>
          {{a.growthSingleVote}}
        </td>
        <td>
          {{a.accountCommission | numFormat}}
        </td>
        <td>
          {{a.productName}}
        </td>
        
        <td class="{{a.onlineStatus === '在线'?'red':'block'}}">
          {{a.onlineStatus}}
        </td>

      </tr>
    </table>
  </div>
  <div class="fpjyy-alert" *ngIf='alert'>
    <div class="alert-title">
      {{textType}}投顾
      <img class="close-btn" src="./assets/images/close.png" alt="" (click)='close()'>
    </div>
    <div class="alert-div">
      <div class="flex-alert">
        <div class="flex-name">
          投顾账号
        </div>
        <div class="flex-content">
          <input  type="text" [(ngModel)]='accountDetail.accountCode' [readonly]='textType === "修改"'>
        </div>
        <div class="flex-name">
          投顾名字
        </div>
        <div class="flex-content">
          <input  type="text" [(ngModel)]='accountDetail.accountName'>
        </div>
      </div>
      <div class="flex-alert">
        <div class="flex-name" *ngIf='textType === "修改"'>
          团队编码
        </div>
        <div class="flex-content" *ngIf='textType === "修改"'>
          <input type="text" [(ngModel)]='accountDetail.teamCode' [readonly]='textType === "修改"'>
        </div>
        <div class="flex-name" *ngIf='textType !== "修改"'>
          投顾密码
        </div>
        <div class="flex-content" *ngIf='textType !== "修改"'>
          <input type="password" [(ngModel)]='accountDetail.accountPwd'>
        </div>
        <div class="flex-name" *ngIf='textType !== "修改"'>
          所属产品
        </div>
        <div class="flex-content" *ngIf='textType !== "修改"'>
          <select name="" id="" [(ngModel)]='accountDetail.productCode'>
            <option [value]="a.productCode" *ngFor='let a of proList'>{{a.productName}}</option>
          </select>
        </div>
        <div class="flex-name" *ngIf='textType === "修改"'>
          所属产品
        </div>
        <div class="flex-content" *ngIf='textType === "修改"'>
          <input type="text" readonly [(ngModel)]='accountDetail.productName'>
        </div>
      </div>
      <div class="flex-alert">
        <div class="flex-name">
          期初规模(元)
        </div>
        <div class="flex-content">
          <input type="number" appNumberInput [(ngModel)]='accountDetail.allottedScale'>
        </div>
        <div class="flex-name">
          保证金(元)
        </div>
        <div class="flex-content">
          <input type="number" appNumberInput [(ngModel)]='accountDetail.cashScale'>
        </div>
      </div>
      <div class="flex-alert">
        <div class="flex-name">
          平仓线比例
        </div>
        <div class="flex-content">
          <input type="text" maxlength="9" appNumberInput [(ngModel)]='accountDetail.flatLine'>
        </div>
        <div class="flex-name">
          警戒线比例
        </div>
        <div class="flex-content">
          <input type="text" maxlength="9" appNumberInput [(ngModel)]='accountDetail.cordonLine'>
        </div>
      </div>
      <div class="flex-alert">
        <div class="flex-name">
          主板单票比例
        </div>
        <div class="flex-content">
          <input type="text" maxlength="9" appNumberInput [(ngModel)]='accountDetail.mainSingleVote'>
        </div>
        <div class="flex-name">
          创业板合计比例
        </div>
        <div class="flex-content">
          <input type="text" maxlength="9" appNumberInput [(ngModel)]='accountDetail.growthSingleVote'>
        </div>
      </div>
      <div class="flex-alert">
        <div class="flex-name">
          交易佣金
        </div>
        <div class="flex-content">
          <input type="text" maxlength="9" appNumberInput [(ngModel)]='accountDetail.accountCommission'>
        </div>
        <div class="flex-name">
          投顾状态
        </div>
        <div class="flex-content" *ngIf='textType === "修改"'>
          <select name="" id="" [(ngModel)]='accountDetail.accountStatus'>
            <option value="0">正常</option>
            <option value="1">停机</option>
          </select>
        </div>
        <div class="flex-content" *ngIf='textType !== "修改"'>
          正常
        </div>
      </div>
      <div class="flex-alert" style="height:170px">
        <div class="flex-name">
          白名单
        </div>
        <div style="flex:8" >
          <input appNumberInput class="flex-content2-input" type="text" [(ngModel)]="witheStockCode" placeholder="请输入股票代码">
          <button (click)='addStock(witheStockCode)' class="flex-content2-button">新增</button>
          <button (click)='delStock()' class="flex-content2-button" style="background:#c32e2e;border-color:#c32e2e;">删除</button>
          <input type="file" name="" id="" (change)='upload($event)' [(ngModel)]="textFile" style="font-size: smaller;line-height: normal;">
          <textarea class="textarea" type="text"  [(ngModel)]='stockList' placeholder="输入股票代码，用逗号隔开"></textarea>
        </div>
      </div>
      <div class="button-div">
        <button (click)='addSubmit()'>确定</button>
        <button (click)='close()'>取消</button>
      </div>
    </div>

  </div>

  <div class="fpjyy-alert" *ngIf='resetAlert'>
    <div class="alert-title">
      重置密码
      <img class="close-btn" src="./assets/images/close.png" alt="" (click)='close()'>
    </div>
    <div class="alert-div" style="height: 150px;">
      <div class="flex-alert">
        <div class="flex-name">
          投顾账号
        </div>
        <div class="flex-content">
          <input type="text" [(ngModel)]='selectDetail.accountCode' readonly>
        </div>
        <div class="flex-name">
          新密码
        </div>
        <div class="flex-content">
          <input type="password" [(ngModel)]='newPass'>
        </div>
      </div>
      <div class="button-div">
        <button (click)='resetSubmit()'>确定</button>
        <button (click)='close()'>取消</button>
      </div>
    </div>
  </div>
  <div class="fpjyy-alert" *ngIf='confirm'>
    <app-confirm [text]='confirmText' (active)='submitDelete($event)'></app-confirm>
  </div>
</div>