<div class="">
  <!-- <div class="search-div">
    <span> 投顾账户</span>
    <input type="text" [(ngModel)]='userCode'>
    <button class="button" (click)='search()'>查询</button>
    <button (click)='searchAll()'>查询全部</button>
    <button (click)='history()'>历史委托列表</button>
  </div> -->
  <div class="action-button margin-top">
    <button class="button" (click)='fpjyy()' [disabled]='disabled(checkList.length)'>分配给投顾</button>
    <button class="button" (click)='ghcp()' [disabled]='disabled(checkList.length)'>归还给产品</button>
  </div>
  <div class="table-div my-scroll">
    <table class="my-table">
      <tr>
        <th>
          <input type="checkbox" name="" id="" (click)='clickAll()' [(ngModel)]='checkedAll'>
        </th>
        <th>
          产品编号
        </th>
        <th>
          产品名称
        </th>
        <th>
          初始分配资金
        </th>
        <th>
          可分配资金
        </th>
        <th>
          本次分配资金
        </th>
        <th>
          本次归还产品资金
        </th>
      </tr>
      <tr *ngFor='let a of list;let i = index;trackBy:trackBy'>
        <td (click)='checkbox(i)'> 
          <input type="checkbox" name="" id=""   [(checked)]='a.isChecked'>
        </td>
        <td (click)='checkbox(i)'>
          {{a.productCode}}
        </td>
        <td (click)='checkbox(i)'>
          {{a.productName}}
        </td>
        <td (click)='checkbox(i)'>
          {{a.totalScale}}
        </td>
        <td (click)='checkbox(i)'>
          {{a.ableScale}}
        </td>
        <td>
          <input type="number" class="table-input" [(ngModel)]='a.bcfp'>
        </td>
        <td>
          <input type="number" class="table-input" [(ngModel)]='a.ghcp'>
        </td>
      </tr>
    </table>
  </div>
  <div class="fpjyy-alert" *ngIf='alert'>
    <div class="alert-title">
      选择要分配的投顾
      <img class="close-btn" src="./assets/images/close.png" alt="" (click)='close()'>
    </div>
    <div class="alert-div my-scroll">
      <div *ngFor='let a of jyyList' class="{{jyyCode === a.accountCode?'select-acitve':''}}" (click)='selectJYY(a.accountCode)'>{{a.accountName}}</div>
    </div>
    <div class="alert-button-div">
      <button (click)='submitJYY()'>确认</button>
    </div>

  </div>
  <div class="fpjyy-alert" *ngIf='confirm'>
    <app-confirm [text]='confirmText' (active)='submitDelete($event)'></app-confirm>
  </div>
</div>