


.alert-div div{
    width: 125px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin-left: 5px;
    font-size: 14px;
    cursor: pointer;
    background: rgb(249, 249, 249);
    margin-top: 3px;
}

.alert-div div:hover{
    background: rgb(156, 215, 255);
}

.alert-title{
    width: 400px;
    height: 50px;
    line-height: 50px;
    position: relative;
    margin-left: 50%;
    left: -200px;
    text-align: center;
    margin-top: 150px;
    background: #3186c7;
    color: #fff;
}

.close-btn{
    float: right;
    width: 25px;
    position: absolute;
    margin-left: 94px;
    margin-top: 13px;
    cursor: pointer;
}

.submit-btn{
    float: left;
    position: absolute;
    margin-left: -110px;
    cursor: pointer;
}